$color-primary: #343A40;
$color-secondary: #FF6347;

$theme-colors: map-merge($theme-colors, (
        "primary": $color-primary,
        "secondary": $color-secondary
));

$topbar-border-color: darken($color-primary, 5%);

$dashboard-bg-color: $color-primary;
$dashboard-sidebar-bg-color: lighten($color-primary, 5%);
$dashboard-sidebar-border-color: darken($color-primary, 5%);

$footer-bg-color: $color-primary;
$footer-border-color: darken($footer-bg-color, 5%);

$modal-content-bg: $color-primary;
$modal-content-border-color: darken($modal-content-bg, 5%);
$modal-header-border-color: $modal-content-border-color;
$modal-footer-border-color: $modal-content-border-color;

$staging-block-body-bg-color: $color-primary;
$staging-block-body-border-color: darken($staging-block-body-bg-color, 5%);
