$color-primary: #343A40;
$color-secondary: #9b59b6;

$theme-colors: map-merge($theme-colors, (
        "primary": $color-primary,
        "secondary": $color-secondary
));

$topbar-border-color: darken($color-primary, 5%);

// Dashboard
$dashboard-bg-color: $color-primary;
$dashboard-sidebar-bg-color: lighten($color-primary, 5%);
$dashboard-sidebar-border-color: darken($color-primary, 5%);

$footer-bg-color: $color-primary;
$footer-border-color: darken($footer-bg-color, 5%);

// Form
$input-focus-border-color: darken($color-primary, 5%);
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba($color-secondary, .25);

$input-bg: $color-primary;
$input-border-color: darken($input-bg, 5%);

$input-focus-bg: $input-bg;

// Card
$card-bg: $color-primary;
$card-spacer-y: 0.5rem;
$card-spacer-x: 0.5rem;

// Modal
$modal-content-bg: $color-primary;
$modal-content-border-color: darken($modal-content-bg, 5%);
$modal-header-border-color: $modal-content-border-color;
$modal-footer-border-color: $modal-content-border-color;

// Dropdown
$dropdown-bg: $color-primary;
$dropdown-border-color: darken($dropdown-bg, 5%);
$dropdown-link-hover-bg: lighten($dropdown-bg, 5%);
$dropdown-link-active-color: lighten($dropdown-bg, 5%);

// Dashboard
$dashboard-sidebar-left-min-width: 300px;
$dashboard-sidebar-left-max-width: 400px;
$dashboard-sidebar-right-min-width: 375px;
$dashboard-sidebar-right-max-width: 450px;

// Branch List
$branch-list-current-bg: rgba($color-secondary, 0.3);

// Staging Block
$staging-block-body-bg-color: $color-primary;
$staging-block-body-border-color: darken($staging-block-body-bg-color, 5%);
$staging-block-file-bg-color-hover: lighten($color-primary, 5%);
