#branch-local {
    li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.active {
          background-color: $branch-list-current-bg;
        }
    }
}