@import "./dashboard/branch-block/branch-block-local";
@import "./dashboard/branch-block/branch-block-remote";
@import "./dashboard/graph";
@import "./dashboard/staging-sidebar";
@import "./dashboard/commiter";

main#dashboard {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;

  .dashboard-left, .dashboard-right {
    height: auto;
    background-color: $dashboard-sidebar-bg-color;
    padding: 0.5rem;
    overflow-y: auto;
  }

  .dashboard-left {
    display: flex;
    flex-direction: column;
    min-width: $dashboard-sidebar-left-min-width;
    max-width: $dashboard-sidebar-left-max-width;
    border-right: 1px solid $dashboard-sidebar-border-color;
  }

  .dashboard-center {
    flex: 1;
    height: auto;
    background-color: $dashboard-bg-color;
    padding: 0.5rem;
    background-image: url('/img/mindgit.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .dashboard-right {
    display: flex;
    flex-direction: column;
    min-width: $dashboard-sidebar-right-min-width;
    max-width: $dashboard-sidebar-right-max-width;
    border-left: 1px solid $dashboard-sidebar-border-color;
  }
}